/*Keanu Akina*/
body{
    background-image:url(../images/backgroundsplat.jpg)
}

.footer{
    text-align: center;
}

.bold{font-weight: bold;}

.anchor{
    text-align: center;
    font-weight: 300;
    margin: 0 0 10px;
    font-weight: bold;
    color: darkslategrey;
}

h5{
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    border-top: 2px; 
    color:rgb(30, 172, 190)
    
}
.resumelistheading {
    font-weight: normal;
    font-style: italic;
}